.bodyWrapper {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 15px 30px;
    justify-content: start;
    hyphens: auto;
    text-align: left;
    float: left;
}

.dateWrapper {
    margin-left: auto;
    margin-top: 15px;
    margin-right: 15px;
}

.contentWrapper {
    box-sizing: border-box;
    display: flex;
    min-width: 460px;
    border-radius: 12px;
    box-shadow: 2px 0px 12px rgba(92, 0, 163, 0.3);
    background: #fffbff;
}